<script lang="ts" setup>
import { ref } from "vue";
const num = ref(0);
</script>

<template>
  <v-container>
    <v-text-field
      label="Please Input Number"
      v-model.number="num"
      dense
      flat
      :rules="[(v) => !!v || 'Number is not empty!!']"
    ></v-text-field>
  </v-container>
  <v-container>
    <v-row class="scroll"
      ><v-col cols="1" v-for="index in num" :key="index">
        {{ index }}
      </v-col>
    </v-row></v-container
  >
</template>
<style>
.scroll {
  height: 500px;
  overflow: scroll; /* showing scrollbars */
}
</style>
