<script setup lang="ts">
import FirstComponent from "@/components/FirstComponent.vue";
import SecondComponent from "@/components/SecondComponent.vue";
import { ref } from "vue";
let num1 = ref(0);
let num2 = ref(0);

function increment() {
  num1.value += 1;
  num2.value += 2;
}

function decrease() {
  if (num1.value > 0 && num2.value > 0) {
    num1.value -= 1;
    num2.value -= 2;
  }
}
</script>
<template>
  <v-container justify-center>
    <v-row>
      <v-col>
        <v-col><FirstComponent /></v-col>
        <v-text style="padding-left: 2%">{{ num1 }}</v-text>
        <div>
          <v-btn small elevation="2" variant="flat" @click="increment"
            >Increment</v-btn
          >
        </div>
      </v-col>
      <v-col>
        <v-col><SecondComponent /></v-col>
        <v-text style="padding-left: 2%">{{ num2 }}</v-text>
        <div>
          <v-btn small elevation="2" variant="flat" @click="decrease"
            >DECREASE</v-btn
          >
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
