<script lang="ts" setup>
import { ref } from "vue";
let imgIcon = ref("../../feeling_imgs/smile.png");
let text = ref("Smile");

function changeIcon(icon: number) {
  if (icon == 0) {
    text.value = "Angry";
    imgIcon.value = "../../feeling_imgs/angry.png";
  } else if (icon == 1) {
    text.value = "Cute";
    imgIcon.value = "../../feeling_imgs/cute.png";
  } else if (icon == 2) {
    text.value = "Excited";
    imgIcon.value = "../../feeling_imgs/excited.png";
  } else if (icon == 3) {
    text.value = "Pain";
    imgIcon.value = "../../feeling_imgs/pain.png";
  } else if (icon == 4) {
    text.value = "Shocked";
    imgIcon.value = "../../feeling_imgs/shocked.png";
  } else if (icon == 5) {
    text.value = "Smile";
    imgIcon.value = "../../feeling_imgs/smile.png";
  }
}
</script>

<template>
  <v-container>
    <v-card width="1300" height="800">
      <v-row>
        <v-col>
          <img :src="imgIcon" />
        </v-col>
        <v-col>
          <h1 style="text-align: center">{{ text }}</h1>
          <v-spacer style="margin-top: 40px"></v-spacer>
          <v-btn class="yellow" width="700" height="50" @click="changeIcon(0)"
            >ANGRY</v-btn
          ><v-spacer style="margin-top: 20px"></v-spacer>
          <v-btn class="yellow" width="700" height="50" @click="changeIcon(1)"
            >CUTE</v-btn
          ><v-spacer style="margin-top: 20px"></v-spacer>
          <v-btn class="yellow" width="700" height="50" @click="changeIcon(2)"
            >EXCITED</v-btn
          ><v-spacer style="margin-top: 20px"></v-spacer>
          <v-btn class="yellow" width="700" height="50" @click="changeIcon(3)"
            >PAIN</v-btn
          ><v-spacer style="margin-top: 20px"></v-spacer>
          <v-btn class="yellow" width="700" height="50" @click="changeIcon(4)"
            >SHOCKED</v-btn
          ><v-spacer style="margin-top: 20px"></v-spacer>
          <v-btn class="yellow" width="700" height="50" @click="changeIcon(5)"
            >SMILE</v-btn
          >
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<style scoped>
.yellow:focus {
  background-color: yellow;
}
</style>
